*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --gren: rgb(51, 255, 0);
    --white: rgb(255, 255, 255);
    --red: rgb(104, 3, 3);
    --light-red: rgb(165, 42, 42);
}

html {
    height: 100%;
}

body {
    height: 80%;
    background-color: var(--gren)
}

.playing-field {
    height: 100%;
    margin: 3%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 0ch;
    grid-gap: 1%;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    overflow: hidden;
}

img {
    width: 50%;
    height: 20vh;
    overflow: hidden;
}

.button {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: var(--red);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    cursor: pointer;
}

.restart-game {
    /* display: none; */
    text-align: center;
    height: 5%;
    margin: 0;
    background-color: var(--white);
    /* box-shadow: rgb(0 0 0 / 80%) 0 0 0 9999px; */
}

.restart-btn {
    background-color: var(--red);
    color: #fff;
    margin-left: 45%;
    width: 10%;
    min-width: 50px;
    height: 5%;
    border: 0;
}

.player-first-image {
    background-image: url("./img/x.png");
}

.player-second-image {
    background-image: url("./img/o.png");
}

.disabled {
    background-color: var(--light-red);
}

.visible {
    display: block;
}